.postfeedwrapper {
  margin: 2em 10em 0 10em;
}

.site-header {
	font-size:40px;
	position:fixed;
	right:0px;
	width:100%;
	margin-top: -2em;
	padding-bottom: -2em;
	background-color:white;
}

.wrapper {
  margin: 0 2rem;
}

.bloginvis {
  display: none;
}
