.postfeedwrapper {
  margin: 2em 10em 0 10em;
}

.site-header {
	font-size:40px;
	position:fixed;
	right:0px;
	width:100%;
	margin-top: -3em;
	padding-bottom: -2em;
	background-color:white;
  z-index: 1;
  overflow: auto;
}

.site-footer{
  padding:0;
  padding-bottom:0;


}

.wrapper {
  margin: 2em 0.5em 3em 1em;
}

.blog-content {
  overflow: hidden;
  transition: max-height 1s;
  max-height: 40em;
}

.blog-content.bloginvis {
  max-height: 3em;
}

.content{
  margin: 5em -2em 0em -2em;
}

.post{
    padding-top:2em;
    height:20em;
}

.site-title img {
    width: 3.5em;
    margin: .3em 0em .3em -1em;
    float: left;
}

.page-heading {
  font-size: 2em;
}
