---
layout: default
---

<div class="home">

  {% include headpic.html %}

    <div class="postfeedwrapper">
      <h1 class="page-heading">Blog</h1>
      <ul class="post-list">
        {% for post in site.posts %}
          <li class="minimalpostlist">
            <div class="minimalpost">
              <div class = "blogtitlebanner">
              <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
              <!-- <img src={{post.imgurl}}> </img> -->
              <h2>
                <p class="post-link" >{{ post.title }}</p>
              </h2>
            </div>
              <div class="blog-content bloginvis">
                {{post.content}}
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
      </div>
  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->
<!-- href="{{ post.url | prepend: site.baseurl }}" -->
<div class="profileWrap">
  <h1>MEET THE TEAM</h1>
  <div class="profiles" align="middle">
    {% include about.html %}

  </div>
</div>



</div>
